<div class="col-6 m-auto py-5 text-center">

  <h2> Welcome to the Netflix Titles API </h2>
  <ul>
    <li> <%= link_to 'Check all API endpoints', api_v1_titles_path %> </li>
    <% @categories.each do |category|%>
      <li>
      <p> Filter by <%= category[:category] %></p>
      <%= form_tag api_v1_titles_path, method: :get do %>
        <%= select_tag(category[:column], options_for_select(Title.pluck(category[:column]).flatten.uniq.sort), prompt: "Select a #{category[:category]}", class: "p-3 col-6") %>
        <%= submit_tag "Filter", class: "btn btn-primary" %>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>
